<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023-2024 Andrew Rechnitzer
    Copyright (C) 2023-2024 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Bundle thumbnails
{% endblock title %}
{% block page_heading %}
    Bundle thumbnails
    {% if is_pushed %}&mdash; read-only{% endif %}
{% endblock page_heading %}
{% block main_content %}
    <div class="my-2">
        <a class="btn btn-primary" href="{% url 'scan_overview' %}">Bundle and paper overview</a>
        {% if is_pushed %}
            <a class="btn btn-primary" href="{% url 'scan_list_pushed' %}">Pushed bundle overview</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'scan_list_staged' %}">Staged bundle overview</a>
    </div>
    <div class="my-2">
        <a class="btn btn-secondary"
           href="{% url 'scan_recent_bundle_thumbnails' %}">Most recent staged bundle</a>
    </div>
    <div class="card mt-2">
        <!-- pb-0 b/c something is making this top box tall by the standard margin?-->
        <div class="card-body pb-0"
             x-data="{show_summary: false}"
             x-init="$watch('show_summary', val => localStorage.setItem('show_summary', val))">
            <div>
                <h5>
                    {% if is_pushed %}
                        <i class="bi bi-check-square text-success"></i>
                        Pushed bundle
                    {% else %}
                        {% if not finished_reading_qr %}
                            <i class="bi bi-exclamation-diamond-fill text-warning"></i>
                            Unread bundle
                        {% else %}
                            Staged bundle
                        {% endif %}
                    {% endif %}
                    &ensp; <q>{{ slug }}</q>
                    {% if is_perfect and not is_pushed %}
                        {% if n_incomplete == 0 %}
                            <!-- some alpine show/hide code follows to put a spinner while we wait for the push to work -->
                            <!-- note that the midPush variable is defined in the parent html file which includes this html file -->
                            &ensp; is problem free -
                            <button class="btn btn-success"
                                    hx-confirm="Please confirm that you want to push this bundle."
                                    hx-post="{% url 'scan_push_all' bundle_id %}"
                                    x-bind:disabled="midPush"
                                    @htmx:before-send="midPush=true;">Push</button>
                        {% else %}
                            &ensp; has no problems, but contains incomplete papers. You can
                            <!-- Issue #3411: provide link to additional info -->
                            <button class="btn btn-danger"
                                    hx-confirm="This bundle contains {{ n_incomplete }} incomplete paper(s). Pushing may create incomplete and unmarkable papers on your server so this isn't best practice. Are you sure you wish to push?"
                                    hx-post="{% url 'scan_push_all' bundle_id %}"
                                    x-bind:disabled="midPush"
                                    @htmx:before-send="midPush=true;">Push</button>
                            but it is not recommended
                        {% endif %}
                    {% endif %}
                    {% if not is_perfect %}&ensp; has pages that require your attention{% endif %}
                </h5>
                {% if n_incomplete %}
                    <div class="alert alert-warning">
                        <details>
                            <summary>This bundle contains {{ n_incomplete }} incomplete paper(s)</summary>
                            <ul>
                                <li>Incomplete papers contain some, but not all their pages.</li>
                                <li>
                                    If you push the incomplete papers you can start marking them, but you cannot complete them until all their pages are pushed.
                                </li>
                                <li>
                                    Incomplete papers often indicates some sort of problem with scanning &mdash; like some pages stuck together. It can also occur if a paper is split across two bundles.
                                </li>
                                <li>It may be better to delete this bundle and rescan the physical papers.</li>
                            </ul>
                        </details>
                    </div>
                {% endif %}
                {% if error_pages %}
                    <div class="alert alert-danger">
                        <details>
                            <summary>This bundle has {{ error_pages }} error pages</summary>
                            <ul>
                                <li>this typically indicates serious scanning problems</li>
                                <li>while these can be repaired here, we recommend that you do not</li>
                                <li>
                                    instead we recommend that you look at the error pages, fix any problems with the corresponding physical pages, then discard this PDF and rescan the papers.
                                </li>
                            </ul>
                            <a class="btn btn-danger {% if bundle.disable_delete %}disabled{% endif %}"
                               hx-delete="{% url 'scan_get_staged_bundle_fragment' bundle_id %}"
                               hx-confirm="Are you sure?">Remove bundle</a>
                        </details>
                    </div>
                {% endif %}
                <p>
                    Summary of bundle contents
                    <button class="btn btn-light" x-on:click="show_summary =! show_summary">
                        <i class="bi bi-chevron-down" x-show="!show_summary"></i>
                        <i class="bi bi-chevron-up" x-show="show_summary"></i>
                    </button>
                </p>
            </div>
            <div class="card-text" x-show="show_summary" x-transition>
                <div class="row">
                    <div class="col-4">
                        <div class="pb-0 alert {% if is_pushed %} alert-success {% else %} alert-info {% endif %}">
                            {% if is_pushed %}Pushed <i class="bi bi-check-circle text-success"></i>{% endif %}
                            <ul>
                                <li>{{ known_pages }} / {{ total_pages }} known pages</li>
                                {% if known_pages != total_pages %}
                                    <li>{{ unknown_pages }} unknown pages</li>
                                    <li>{{ extra_pages }} extra pages</li>
                                    <li>{{ discard_pages }} discard pages</li>
                                    <li>{{ error_pages }} error pages</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-8 pb-1">
                        <h5>Bundle Contains:</h5>
                        {% for paper,pages in papers_pages_list %}
                            {% with pg=pages|dictsort:"order"|first %}
                                {% if paper in incomplete_papers_list %}
                                    <button class="btn m-1 btn-warning"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-title="Is missing pages"
                                            hx-get="{% url 'scan_bundle_page' the_filter bundle_id pg.order %}"
                                            hx-swap="innerHTML"
                                            hx-target="#updatePage">paper {{ paper }}</button>
                                {% else %}
                                    <button class="btn m-1 btn-success"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-title="Is complete"
                                            hx-get="{% url 'scan_bundle_page' the_filter bundle_id pg.order %}"
                                            hx-swap="innerHTML"
                                            hx-target="#updatePage">paper {{ paper }}</button>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="dropdown">
                            <span>Showing:</span>
                            <button class="btn btn-secondary fs-5 dropdown-toggle w-75"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {% for opt in filter_options %}
                                    {% if opt.filter_code == the_filter %}{{ opt.filter_name }}{% endif %}
                                {% endfor %}
                            </button>
                            <ul class="dropdown-menu">
                                {% for opt in filter_options %}
                                    <li>
                                        {% if opt.filter_code != the_filter %}
                                            <a class="dropdown-item"
                                               href="{% url 'scan_bundle_thumbnails' opt.filter_code bundle_id %}">{{ opt.filter_name }}</a>
                                        {% else %}
                                            <a class="dropdown-item text-secondary disabled">{{ opt.filter_name }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-2 pe-0">
                    <!-- Not happy with this 80vh here: sometimes that is too much, sometimes too little -->
                    <div class="container overflow-y-scroll ps-0" style="max-height:78vh;">
                        <div class="row row-cols-6 gy-1 gx-1">
                            {% for pg in pages %}
                                {% if pg.status == "known" %}
                                    <div class="col">
                                        <div class="card text-center bg-success-subtle p-1"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-title="paper-{{ pg.info.paper_number }}.{{ pg.info.page_number }}">
                                            {% include "Scan/fragments/bundle_thumbnail_container.html" with grab_speed="low" %}
                                        </div>
                                    </div>
                                {% elif pg.status == "unknown" %}
                                    <div class="col">
                                        <div class="card text-center bg-warning-subtle col p-1 border-warning border-2"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-title="Unknown page">
                                            {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                        </div>
                                    </div>
                                {% elif pg.status == "extra" %}
                                    <!-- check if it has paper+question info -->
                                    {% if pg.info.paper_number %}
                                        <!-- extra page info is complete -->
                                        <div class="col">
                                            <div class="card text-center bg-primary-subtle col p-1"
                                                 data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-title="Extra page - {{ pg.info.paper_number }}.{{ pg.info.question_list }}">
                                                {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                            </div>
                                            <!-- above div should say question_index_list, Issue #2716, but I think it works for now -->
                                        </div>
                                    {% else %}
                                        <div class="col">
                                            <!-- extra page info required -->
                                            <div class="card text-center bg-info-subtle col p-1  border-info border-2"
                                                 data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-title="Extra page - no data">
                                                {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% elif pg.status == "error" %}
                                    <div class="col">
                                        <div class="card text-center bg-danger-subtle col p-1 border-error border-2"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-title="error: {{ pg.info.reason }}">
                                            {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                        </div>
                                    </div>
                                {% elif pg.status == "unread" %}
                                    <div class="col">
                                        <div class="card text-center bg-dark-subtle col p-1"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-title="qr-unread">
                                            {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                        </div>
                                    </div>
                                {% elif pg.status == "discard" %}
                                    <div class="col">
                                        <div class="card text-center bg-dark-subtle col p-1"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-title="discard: {{ pg.info.reason }}">
                                            {% include "Scan/fragments/bundle_thumbnail_container.html" %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" id="updatePage">
            {% if pop %}
                <div hx-get="{% url 'scan_bundle_page' the_filter bundle_id pop %}"
                     hx-swap="innerHTML"
                     hx-target="#updatePage"
                     hx-trigger="load"></div>
            {% endif %}
            <!-- HTMX will fill this in -->
        </div>
    </div>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl, {trigger : 'hover'})
      })
    </script>
{% endblock main_content %}
