<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023-2024 Andrew Rechnitzer
-->
{% extends "base/base.html" %}
{% block title %}
    Bundle is locked
{% endblock title %}
{% block page_heading %}
    Bundle is locked
    <a class="btn btn-success" href="{% url 'scan_overview' %}">
        <i class="bi bi-chevron-left"></i>
        Return to overview
    </a>
{% endblock page_heading %}
{% block main_content %}
    <div class="card w-50">
        <div class="card-body">
            <div class="card-text">
                <div class="alert alert-warning">
                    <p>
                        If you are here then it is because the bundle <q>{{ slug }}</q> is locked or already pushed.
                    </p>
                    <p>
                        Notice that
                        <ul>
                            <li>Only one bundle can be pushed at a given time, and</li>
                            <li>
                                You may not change a bundle when it is mid-push; another user may have pushed the bundle while you were trying to altering things.
                            </li>
                        </ul>
                    </p>
                    <p>Please return to the main scanning overview page.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
