<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2024 Aden Chan
-->
{% extends "base/base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block page_heading %}
    Sign up
{% endblock page_heading %}
{% block main_content %}
    <style>
        table {
        counter-reset: tableCount;
        }
        .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
        }
        th,
        td {
        vertical-align: middle;
        }
    </style>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    {% if current_page == "single" %}
                        <a class="nav-link active" href="{% url 'signup_single' %}">Create Single User</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'signup_single' %}">Create Single User</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if current_page == "multiple" %}
                        <a class="nav-link active" href="{% url 'signup_multiple' %}">Create Multiple Users</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'signup_multiple' %}">Create Multiple Users</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="card-body">
            {% block card_content %}
            {% endblock card_content %}
        </div>
    </div>
    {% if created %}
        <div class="mt-3" style="width: 100%; text-align: center">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usernames</th>
                        <th scope="col">Links</th>
                        <th scope="col">
                            {% if links|length > 1 %}
                                <button class="btn btn-primary"
                                        onclick="copyText(this)"
                                        id="copy-all"
                                        data-copyText="{{ tsv|safe }}">Copy all</button>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for username, link in links.items %}
                        <tr>
                            <th class="counterCell"></th>
                            <th>{{ username }}</th>
                            <td id="link">{{ link }}</td>
                            <td>
                                <button class="btn btn-primary" style="margin-left: 4px" onclick="copyText(this)" data-copyText={{ link }} id="copy-button-{{ forloop.counter0 }}">Copy
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            async function copyText(buttonObj) {
              const button = buttonObj;
              navigator.clipboard.writeText(buttonObj.dataset.copytext);
              const prevText = button.innerText;
              button.innerText = "Copied!";
              await new Promise(r => setTimeout(r, 2000));
              button.innerText = prevText;
            }
        </script>
    {% endif %}
    <div class="card my-2">
        <div class="card-body">
            <a class="btn btn-success my-2" href="{% url 'users' %}">return to user management</a>
        </div>
    </div>
{% endblock main_content %}
