<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2024 Andrew Rechnitzer
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2024 Aden Chan
-->
{% extends "base/base.html" %}
{% block title %}
    Prepare assessment
{% endblock title %}
{% block page_heading %}
    Prepare assessment
    {% if have_papers_been_printed %}
        <i class="bi bi-check-circle text-success"></i>
    {% else %}
        <i class="bi bi-pencil-square"></i>
    {% endif %}
{% endblock page_heading %}
{% block main_content %}
    <div class="container ms-3 mb-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action border mb-1"
               href="{% url 'spec_summary' %}">
                <p class="fs-4">
                    {% if valid_spec %}
                        <i class="bi bi-check-square text-success"></i>
                    {% else %}
                        <i class="bi bi-square"></i>
                    {% endif %}
                    Assessment specification
                    {% if have_papers_been_printed %}
                        : <i class="bi bi-exclamation-triangle text-warning"></i> read-only <i class="bi bi-exclamation-triangle text-warning"></i>
                    {% endif %}
                </p>
                <p class="fs-7">&emsp;&ensp; The specification describes the structure of your assessment to Plom</p>
            </a>
            <a href="{% url 'prep_sources' %}"
               class="list-group-item list-group-item-action border mb-1">
                <p class="fs-4">
                    {% if all_sources_uploaded %}
                        <i class="bi bi-check-square text-success"></i>
                    {% elif num_uploaded_source_versions > 0 %}
                        <i class="bi bi-plus-square text-primary"></i>
                    {% else %}
                        <i class="bi bi-square"></i>
                    {% endif %}
                    Manage source PDFs
                    {% if num_versions %}({{ num_uploaded_source_versions }} of {{ num_versions }}){% endif %}
                    {% if have_papers_been_printed %}
                        : <i class="bi bi-exclamation-triangle text-warning"></i> read-only <i class="bi bi-exclamation-triangle text-warning"></i>
                    {% endif %}
                </p>
                <p class="fs-7">&emsp;&ensp; Manage the source PDFs for building your assessment</p>
            </a>
            <a class="list-group-item list-group-item-action border mb-1"
               href="{% url 'prep_classlist' %}">
                <p class="fs-4">
                    {% if student_list_present %}
                        <i class="bi bi-check-square text-success"></i>
                    {% else %}
                        {% if prename_enabled %}
                            <i class="bi bi-x-square text-danger"></i>
                        {% else %}
                            <i class="bi bi-dash-square-dotted"></i>
                        {% endif %}
                    {% endif %}
                    (Optional) manage classlist and prenaming
                    {% if have_papers_been_printed %}
                        : <i class="bi bi-exclamation-triangle text-warning"></i> read-only <i class="bi bi-exclamation-triangle text-warning"></i>
                    {% endif %}
                </p>
                <p class="fs-7">&emsp;&ensp; Optionally, upload a classlist and, also optionally, prenaming of papers</p>
            </a>
            <a href="{% url 'prep_qvmapping' %}"
               class="list-group-item list-group-item-action border mb-1">
                <p class="fs-4">
                    {% if is_db_chore_running %}
                        <i class="bi bi-dash-square-dotted text-info"></i>
                    {% elif is_db_fully_populated %}
                        <i class="bi bi-check-square text-success"></i>
                    {% else %}
                        <i class="bi bi-square"></i>
                    {% endif %}
                    Manage the number of papers and the paper-question-version database
                    {% if have_papers_been_printed %}
                        : <i class="bi bi-exclamation-triangle text-warning"></i> read-only <i class="bi bi-exclamation-triangle text-warning"></i>
                    {% endif %}
                </p>
                <p class="fs-7">&emsp;&ensp; Set the number of papers to produce</p>
                <p class="fs-7">
                    &emsp;&ensp; If you have more than one source version, then you can also (optionally) manage the question-version map
                </p>
            </a>
            <a href="{% url 'create_paperPDFs' %}"
               class="list-group-item list-group-item-action border mb-1">
                <p class="fs-4">
                    {% if all_papers_built %}
                        <i class="bi bi-check-square text-success"></i>
                    {% elif any_papers_built %}
                        <i class="bi bi-dash-square-dotted text-info"></i>
                    {% else %}
                        <i class="bi bi-square"></i>
                    {% endif %}
                    Build printable paper PDFs
                    {% if have_papers_been_printed %}
                        : <i class="bi bi-exclamation-triangle text-warning"></i> read-only <i class="bi bi-exclamation-triangle text-warning"></i>
                    {% endif %}
                </p>
                <p class="fs-7">&emsp;&ensp; Build and download printable paper PDFs</p>
            </a>
            <a href="{% url 'prep_finished' %}"
               class="list-group-item list-group-item-action border">
                <p class="fs-4">
                    {% if have_papers_been_printed %}
                        <i class="bi bi-printer-fill text-success"></i>
                    {% else %}
                        <i class="bi bi-square"></i>
                    {% endif %}
                    Tell Plom that papers have been printed
                </p>
                <p class="fs-7">&emsp;&ensp; Tell Plom that the assessment is set and you are ready to move on to next steps</p>
                {% if have_papers_been_printed %}
                    <p class="fs-7">&emsp;&ensp; This is now set, so you can start scanning and marking.</p>
                {% else %}
                    <p class="fs-7">&emsp;&ensp; Use this setting before you move on to scanning and marking your assessment</p>
                {% endif %}
            </a>
            <a href="{% url 'misc_extras' %}"
               class="list-group-item list-group-item-action border mb-1">
                <p class="fs-4">
                    <i class="bi bi-download text-success"></i>
                    Download extra-page and scrap-paper pdfs
                </p>
                <p class="fs-7">&emsp;&ensp; These pages can be automatically read by plom</p>
            </a>
        </div>
        <div class="accordion mt-2" id="resetAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button bg-danger text-white collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne">Danger Zone</button>
                </h2>
                <div id="collapseOne"
                     class="accordion-collapse collapse"
                     aria-labelledby="headingOne"
                     data-bs-parent="#resetAccordion">
                    <div class="accordion-body">
                        <a type="button" class="btn btn-danger m-1" href="{% url "reset" %}">Reset Server</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
