<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Edith Coates
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2023-2024 Aden Chan
    Copyright (C) 2024 Aidan Murphy
-->
{% extends "base/base.html" %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% block title %}
    Rubrics
{% endblock title %}
{% block page_heading %}
    Rubrics
{% endblock page_heading %}
{% block main_content %}
    {% if messages %}
        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
    {% endif %}
    <div>
        <a class="btn btn-primary dinline-block"
           href="{% url 'rubrics_admin' %}">Rubric management&hellip;</a>
        <a class="btn btn-primary dinline-block ms-2"
           href="{% url 'rubrics_access' %}">Rubric access controls&hellip;</a>
        <a class="btn btn-primary dinline-block ms-2"
           href="{% url 'feedback_rules' %}">Feedback rules&hellip;</a>
    </div>
    <hr />
    {% comment %} Filter {% endcomment %}
    <div class="row">
        <div class="col-10">
            <form method="get" action="" class="form-inline">
                <div class="form-group mr-2">
                    {{ rubric_filter_form }}
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-filter"></i> Filter
                    </button>
                </div>
            </form>
        </div>
        <div class="col-2">
            <button type="submit"
                    class="btn btn-primary float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    onclick="populateFields()">
                <i class="bi bi-plus-circle-fill"></i> Create Rubric
            </button>
        </div>
    </div>
    {% comment %} Table {% endcomment %}
    <div class="mt-2">{% render_table rubrics %}</div>
    {% include "./modal_forms.html" %}
{% endblock main_content %}
