<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2024 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Build a template specification
{% endblock title %}
{% block page_heading %}
    Build a template specification
{% endblock page_heading %}
{% block main_content %}
    <div class="d-grid gap-3">
        <div>
            <a class="btn btn-primary" href="{% url 'creator_launch' %}">Return to specification page</a>
        </div>
        <div class="card"
             x-data="{pages: {{ pages }}, questions: {{ questions }}, score: {{ score }}, shortName: '{{ shortName }}' }">
            <h4 class="card-header">Enter information about your assessment</h4>
            <div class="card-body">
                <form enctype="multipart/form-data"
                      id="form"
                      method="post"
                      action="{% url 'template_spec_builder' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="text"
                                       class="form-control"
                                       id="longName"
                                       value="{{ longName }}"
                                       name="longName">
                                <label for="longName">Assessment long name</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="text"
                                       class="form-control"
                                       id="shortName"
                                       x-model="shortName"
                                       name="shortName">
                                <label for="shortName">Assessment short name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="number"
                                       class="form-control"
                                       id="pages"
                                       required
                                       min="2"
                                       x-model.number="pages"
                                       name="pages">
                                <label for="pages">Number of pages</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="number"
                                       class="form-control"
                                       id="questions"
                                       required
                                       min="1"
                                       x-model.number="questions"
                                       name="questions">
                                <label for="questions">Number of questions</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="number"
                                       class="form-control"
                                       id="versions"
                                       required
                                       min="1"
                                       value="1"
                                       name="versions">
                                <label for="versions">Number of versions</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="number"
                                       class="form-control"
                                       id="score"
                                       required
                                       min="1"
                                       x-model.number="score"
                                       name="score">
                                <label for="score">Total score</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            x-bind:disabled="(pages%2==1) || (pages <= questions) || (score < questions) || (!RegExp('^[A-Za-z0-9_\.\-]+$').test(shortName))">
                        Generate template toml
                    </button>
                </form>
            </div>
            <template x-if="(pages%2==1) || (pages <= questions) || (score < questions) || (!RegExp('^[A-Za-z0-9_\.\-]+$').test(shortName))">
                <span class="alert alert-danger m-2 w-50">
                    <template x-if="pages%2==1">
                        <p>The number of pages should be even.</p>
                    </template>
                    <template x-if="pages <= questions">
                        <p>
                            You should have at least one page per question, plus one for the ID page.
                            (Experts who need multiple questions per page?
                            <a href="https://plom.readthedocs.io/en/latest/preparing_an_assessment.html#creating-a-spec-file">See the docs</a>).
                        </p>
                    </template>
                    <template x-if="score < questions">
                        <p>
                            The total score, <q x-text="score"></q> , should not be less than the number of questions, <q x-text="questions"></q>.
                        </p>
                    </template>
                    <template x-if="!RegExp('^[A-Za-z0-9_\.\-]+$').test(shortName)">
                        <p>The short name can only contain letters, numbers, underscores, hyphens and periods. No spaces.</p>
                    </template>
                </span>
            </template>
        </div>
        {% if generated_toml %}
            <div class="card" x-data="{the_toml: `{{ generated_toml }}` }">
                <h4 class="card-header">Generated toml template: edit to taste</h4>
                <div class="card-body">
                    <form enctype="multipart/form-data"
                          hx-post="{% url 'creator_launch' %}"
                          hx-include="[name='spec']"
                          hx-target="#saving-status">
                        {% csrf_token %}
                        <!--<label for="spec-toml-input" class="form-label">Assessment specification</label>-->
                        <textarea class="form-control"
                                  id="spec-toml-input"
                                  name="spec"
                                  rows="12"
                                  spellcheck="false">{{ generated_toml }}</textarea>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <!--
                            <button type="submit" class="btn btn-primary" name="which_action" value="submit">Submit</button>
                        -->
                        <button type="submit"
                                class="btn btn-secondary m-2"
                                name="which_action"
                                value="validate">Validate</button>
                        <button class="btn btn-outline-secondary m-2" @click="downloadtoml(the_toml)">
                            download toml
                            <icon class="bi bi-file-earmark-arrow-down"></icon>
                        </button>
                        <button class="btn btn-outline-secondary m-2"
                                @click="navigator.clipboard.writeText(the_toml); alert('Copied toml to clipboard')">
                            copy to clipboard
                            <icon class="bi bi-clipboard2-plus"></icon>
                        </button>
                        <div class="mt-2" id="saving-status"></div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <script>
      function downloadtoml(stuff) {
          let filename = 'template_assessment_specification.toml';
          let element = document.createElement('a');
          element.setAttribute('href', 'data:text/toml;charset=utf-8,' + encodeURIComponent(stuff));
          element.setAttribute('download', filename);
          element.click();
      }
    </script>
{% endblock main_content %}
